/Modul/FaceBean/nbproject/private/
/Modul/FaceBean/Laundry/nbproject/private/
/Modul/FaceBean/Laundry/Laundry-war/nbproject/private/
/Modul/FaceBean/Laundry/Laundry-ejb/nbproject/private/
/Modul/FaceBean/Laundry/Laundry-ejb/build/
/Modul/FaceBean/Laundry/Laundry-war/build/
/Modul/FaceBean/Laundry/Laundry-ejb/dist/
/Modul/FaceBean/Laundry/build/
/Modul/FaceBean/Laundry/Laundry-war/dist/